<html>
<head>
  <title>Foundation is da bomb.</title>
  <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/foundation.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
  <div class="row">
    <%= yield %>
  </div>
</body>
</html>
